{
    // Schema version to support upgrades
    "_schema": "1.0",

    // ** NEW SENCHA TOUCH PROJECT OPTIONS **

    "touchSdk": "~/bin/Sencha/touch-2.3.2",
    "senchaCmd": "sencha-4.0.4.84",
    "appDomain": "com.mydomain",
    "appName": "MyApp",

    "PhoneGapBuild": {
        "enabled": "false",
        "username": "Your PhoneGap Build Username",
        "password": "Your PhoneGap Build Password"
    },

    //Platforms to add in a new app.
    "platforms": [ 
        "android"
        //"ios",
        //"wp8"
    ],

    // If true, adds live update client
    "live": true,
	
    "plugins": [
        // Ref: http://docs.phonegap.com/en/3.4.0/guide_cli_index.md.html
        // Additional Plugins: http://plugins.cordova.io////

        // ** REQUIRED BY LIVE APP **

        // Basic device information (Device API):
        "org.apache.cordova.device",

        // Access files on device or network (File API):
        "org.apache.cordova.file",

        // Insomnia - Keep app alive
        "https://github.com/EddyVerbruggen/Insomnia-PhoneGap-Plugin.git",

        // Splashscreen:
        "org.apache.cordova.splashscreen",

        // ** REQUIRED BY YOUR APP **

        // Network Connection and Battery Events:
        "org.apache.cordova.network-information",
        // "org.apache.cordova.battery-status",

        // Accelerometer, Compass, and Geolocation:
        //"org.apache.cordova.device-motion",
        "org.apache.cordova.device-orientation",
        // "org.apache.cordova.geolocation",

        // Camera, Media playback and Capture:
        "org.apache.cordova.camera",
        "org.apache.cordova.media-capture",
        "org.apache.cordova.media",

        // Transfer files to/from network:
        "org.apache.cordova.file-transfer",

        // Notification via dialog box or vibration:
        // "org.apache.cordova.dialogs",
        // "org.apache.cordova.vibration",

        // Contacts:
        // "org.apache.cordova.contacts",

        // Globalization:
        // "org.apache.cordova.globalization",

        // Open new browser windows (InAppBrowser):
        // "org.apache.cordova.inappbrowser",

        // Debug console:
        // "org.apache.cordova.console",

        // Barcodes
        // Alternatives: http://plugins.cordova.io////search?search=barcode
        // com.phonegap.plugins.barcodescanner 
        "http://github.com/phonegap-build/BarcodeScanner.git",

        // SQLite 
        "https://github.com/brodysoft/Cordova-SQLitePlugin.git"
    ],

    // ** APP SERVER OPTIONS **

	"sessionSecret": "**REPLACE**",  // ** REPLACE with a very random string

    // Files that trigger auto reload.
    "watch": {
        "sencha": [
            "app.js",
            "app.json",
            "bootstrap.js",
            "bootstrap.json",
            "app/**/*.js",
            "resources/css/**",
            "resources/images/**",
            "resources/icons/**",
            "resources/startup/**"
        ],
        "cordova": [
            "www/**"
        ]
    }
}

